@import "./utils/variables";
@import "./utils/elements";
@import "./components/modal";
@import "./components/header";
@import "./components/portfolio";
@import "./components/articles";
@import "./components/footer";
@import "./components/footer-navigation";
@import "./components/banner";
@import "./components/property";
@import "./components/task";
@import "./components/customers";
@import "./components/footer-news";
@import "./components/footer-socials";
@import "./components/team";
