.articles {
  width: 1200px;
  margin: auto;
}
.articles__window {
  border: var(--border-color) solid 1px;
  padding-bottom: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.articles__window-container {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.articles__window-container-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.articles__window-overlay {
  position: absolute;
  bottom: calc(100% - 294px);
  background-color: var(--logo-color);
  opacity: 90%;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.articles__window:hover .articles__window-overlay {
  height: 294px;
}
.articles__window-overlay-text {
  width: 100%;
  position: absolute;
  color: var(--bright-color);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 00.03em;
  padding: 49px 45px 49px 24px;
  text-align: left;
}
.articles__window-title {
  padding: 20px 24px;
}
.article__title {
  color: #212121;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin: 0;
  padding: 0;
}
.article__subtitle {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
  text-align: left;
}
