.banner {
  color: var(--bright-color);
  background-image: linear-gradient(#2f303a60, #2f303a60),
    url("./../images/background.jpg");
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.banner__title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
}

.banner__button {
  background-color: var(--logo-color);
  color: var(--bright-color);
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  font-family: inherit;
  padding: 10px 40px 10px 40px;
  margin-top: 30px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-image: linear-gradient(
      var(--logo-color),
      var(--logohover-color)
    );
    cursor: pointer;
  }
  &:focus {
    background-image: linear-gradient(
      var(--logo-color),
      var(--logohover-color)
    );
    cursor: pointer;
  }
}
