.footer-socials {
  color: var(--bright-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0, 03em;
  text-transform: uppercase;
}
.footer-socials__logos {
  width: 209px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.footer-socials__ico {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--ico-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: var(--logo-color);
    fill: #fff;
  }
}
