.header {
  background-color: #fff;
  height: 80px;
  display: flex;
}
.header__cointainer {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 1200px;
}
.header__navigation {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}
.header__logo {
  color: var(--dark-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  & :visited {
    color: var(--dark-color);
  }
}

.header__menu {
  list-style: none;
  display: inline-flex;
  gap: 46px;
  & a {
    text-decoration: none;
  }
}
.header__link {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    width 250ms cubic-bezier(0.4, 0, 0.2, 1),
    height 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--logo-color);
  }
  &:hover::after {
    position: absolute;
    content: "";
    top: calc((80px / 2) + 4px);
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--logo-color);
  }
  &:focus {
    color: var(--logo-color);
  }
}
.header__link--active {
  color: var(--logo-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    width 250ms cubic-bezier(0.4, 0, 0.2, 1),
    height 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--logo-color);
  }
  &:focus {
    color: var(--logo-color);
  }
  &:after {
    position: absolute;
    content: "";
    top: calc((80px / 2) + 4px);
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--logo-color);
  }
}

.header__adres {
  list-style: none;
  display: flex;
  gap: 50px;
  & a {
    text-decoration: none;
  }
}
.header__contact {
  color: var(--second-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    color: var(--logo-color);
  }
  &:hover {
    color: var(--logo-color);
  }
}

.header__mail {
  display: flex;
  flex-wrap: nowrap;
  fill: var(--second-color);
  &:hover {
    fill: var(--logo-color);
    color: var(--logo-color);
  }
}
.header__tel {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  & :hover {
    fill: var(--logo-color);
  }
}
.header__contact {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--logo-color);
  }
}
.header__mobile {
  display: flex;
  flex-wrap: nowrap;
  fill: var(--second-color);
}
.header__envelope {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__phone {
  margin-right: 10px;
}
