.header__mobile-menu {
  fill: var(--dark-color);
  cursor: pointer;
  &:hover {
    fill: var(--logo-color);
  }
}

.mobile-menu {
  position: fixed;
  background-color: var(--bright-color);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  z-index: 4;
  justify-content: space-between;
}
.mobile-menu__container {
  position: relative;
  padding: 20px;
  width: 100%;
  // height: 100%;
  background-color: var(--bright-color);
}
.mobile-menu__nav {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-menu__lists {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu__link {
  color: var(--dark-color);
  display: block;
  width: 250px;
  padding-block: 18px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: var(--logo-color);
  }
  &:visited {
    color: var(--dark-color);
  }
  &:hover {
    color: var(--logo-color);
  }
}

.toggle-menu {
  position: absolute;
  color: var(--dark-color);
  right: 50px;
  background-color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  &:hover {
    color: var(--logo-color);
  }
}

.mobile-menu__contacts {
  margin-top: 100px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mobile-menu__contact {
  text-decoration: none;
  color: var(--second-color);
}
.mobile-menu__contact--phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  color: var(--logo-color);
}
.mobile-menu__contact--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}
.mobile-menu__socials {
  padding-top: 64px;
  max-width: 480px;
  gap: 12px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  position: relative;
  &:last-child:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: #fff;
    right: -20px;
  }
}

.mobile-menu__social-element {
  color: var(--logo-color);
  text-decoration: none;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: var(--ico-color);
    opacity: 0.5;
    right: -12px;
  }
}

.d-none {
  display: none;
  transform: translatex(-100%);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
    transform: translateY(-100%);
  }
}
