.modal__backdrop {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 528px;
  height: 581px;
  background-color: var(--bright-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 220px;
  border-radius: 4px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.modal__btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: solid rgba(0, 0, 0, 0.18) 1px;
  border-radius: 50%;
  font-size: 11px;
  background-color: var(--bright-color);
}

.is-hidden {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal__close-btn {
  fill: var(--dark-color);
}
.modal__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-color);
  margin-bottom: 12px;
}

.modal__fieldset {
  display: flex;
  border-radius: 4px;
  border: solid 1px #21212128;
  padding: 5px;
  margin-bottom: 10px;
  align-items: center;
  padding-left: 30px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  height: 40px;
  position: relative;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__ico {
  fill: black;
  position: absolute;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea-fieldset:has(.modal__textarea:focus),
.modal__fieldset:has(.modal__input:focus),
.modal__fieldset:has(.modal__input:focus) svg {
  border-color: var(--logo-color);
  fill: var(--logo-color);
}

.modal__input {
  outline: none;
  border: none;
  width: 100%;
}
.modal__textarea-fieldset {
  border-radius: 4px;
  border: solid 1px #21212128;
  padding: 5px;
  margin-bottom: 10px;
  height: 120px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea {
  width: 100%;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  max-width: 92%;
  &::placeholder {
    color: var(--placeholder-color);
  }
}

.modal__label {
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.01em;
  color: var(--second-color);
  margin-bottom: 4px;
}
.modal__checkbox-label {
  display: flex;
  align-items: center;
}
.modal__checkbox-label input:checked + .modal__ico-checked {
  opacity: 1;
}
.modal__checkbox-label input:checked {
  opacity: 0;
}
.modal__checkbox {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  align-items: center;
}
.modal__check-input {
  z-index: 101;
  opacity: 0;
  width: 16px;
  margin-inline: 10px;
  outline: 3px black;
}
.modal__rule-information {
  font-size: 14px;
  line-height: 1, 7;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.modal__rule-information-color {
  color: var(--logo-color);
}

.modal__ico-checked {
  position: absolute;
  left: 18px;
  bottom: -0.5px;
  opacity: 0;
  z-index: 102;
}
.modal__ico-unchecked {
  position: absolute;
  width: 16px;
  height: 16px;
  z-index: 100;
  left: 18px;
  border: 2px solid black;
  border-radius: 3px;
  bottom: 0;
}

.modal__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__button {
  background-color: var(--logo-color);
  color: var(--bright-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 10px;
  letter-spacing: 0.06em;
  width: 200px;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  cursor: pointer;
}
