.task__header {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-color);
  padding-top: 94px;
  padding-bottom: 50px;
}

.task__img {
  list-style: none;
  display: flex;
  gap: 30px;
  text-align: center;
  position: relative;
}

.task__description {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: var(--theme-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0, 03em;
  width: 370px;
  height: 70px;
  background-color: var(--theme-color);
  opacity: 80%;
  color: var(--bright-color);
  bottom: 5px;
}
