.team {
  background-color: var(--team-color);
  text-align: center;
}
.team__header {
  font-size: 36px;
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--third-color);
  padding-top: 94px;
  padding-bottom: 50px;
}
.team__title-box {
  padding: 30px;
}
.team__socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 15px 20px 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__ico {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  fill: var(--ico-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover {
    background-color: var(--logo-color);
  }
}

.team__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: #fff;
  }
}
.team__workers {
  list-style: none;
  display: inline-flex;
  gap: 30px;
  margin-bottom: 94px;
}

.team__worker-box {
  background-color: var(--bright-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.team__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
