:root {
  --logo-color: #2196f3;
  --logohover-color: #88c9ff;
  --dark-color: #000;
  --bright-color: #fff;
  --second-color: #757575;
  --third-color: #212121;
  --border-color: #eee;
  --theme-color: #2f303a;
  --team-color: #f5f4fa;
  --line-color: #e5e5e5;
  --ico-color: #afb1b8;
  --placeholder-color: rgba(117, 117, 117, 0.5);
}
